/* first portion styles */
.header{
    background-color: burlywood;
    width:1500px;
    height:1000px;
}
.title{
    display: flex;
    justify-content: center;
    border-width:100%;
    gap: 950px;

}
.heading-title{
    justify-content: center;
    right:300px;
}
.nav-bar{
    padding-right: 20px;
    
}
nav a{
    text-decoration: none;
}
.heading{
    text-align: center;
}
.btn-primary{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border:0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
}
/* second portion styles */
.second-portion{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.images{
        
        background-color: #FFFFFF;
        width: 870px;
        padding: 30px;
        margin-top:21px;
        border-radius: 5px;
}
.text-portion{
    justify-content: center;
    border-width: 100%;
    padding-top: 50%; 

}
.text-primary-1{
    color: darkgray;
}
.text-primary-2{
    color: black;
}
.text-primary-3{
    color: orangered;
}
.vl {
    border-left: 6px solid orange;
    height: 50px;
  }
.box{
    background-color: azure;
}
        