/* first portion styles */
.header{
    background-color: burlywood;
    width:1500px;
    height:1000px;
}
.title{
    display: flex;
    justify-content: center;
    border-width:100%;
    gap: 950px;

}
.heading-title{
    justify-content: center;
    right:300px;
}
.nav-bar{
    padding-right: 20px;
    
}
nav a{
    text-decoration: none;
}
.heading{
    text-align: center;
}
.btn-primary{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border:0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
}
/* second portion styles */
.second-portion{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap:2px;
    width:1500px;
    height:800px;
}
.images{
        
        background-color: #FFFFFF;
        width: 870px;
        padding: 30px;
        margin-top:21px;
        border-radius: 5px;
}
.text-portion{
    justify-content: center;
    border-width:100%;
    padding-top: 50%;

}
.text-primary-1{
    color: darkgray;
}
.text-primary-2{
    color: black;
}
.text-primary-3{
    color: orangered;
}
/* third portion styles */
.architect-part{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: bisque;
    width:1500px;
    height:600px;
}

.text-over-image{
        margin: 3%;
        position: relative;
    width: 324px;
    height: 0px;
    padding: 30px;
    margin-top:21px;
    border-radius: 5px;
    
}
.left{
    position: absolute;
    top:17px;
    left: 20px;
}

.vl {
    border-left: 6px solid orange;
    height: 50px;
  }
.box{
    background-color: azure;
    border:50%;
}
/* 4th portion styles */
.fourth-portion{
    width:1500px;
    height:150px;
    
}
.container{
   display: flex;
   width: 100%;
   gap: 10px;
   margin-left: 100px;
   margin-right: 100px;
   
}
.boxxx{
    height: 150px;
    width: 200px;
    background-color: aliceblue;
    justify-content: center;
    border: 3px solid burlywood;
    
    
}
/* footer styles */
.ending-part{
    width:1500px;
    height:300px;
}
.image-container{
    display: flex;
    width: 100%;
    gap: 10px;
    margin-left: 300px;
    margin-right: 300px;

}
.new-box-container{
    height: 20px;
    width:700px;
    background-color: bisque;
    justify-content: center;
    margin-left: 300px;
    margin-right: 100px;
}

        